/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(242, 242, 242);
    color: rgb(34, 34, 34);
}

/*HEADER*/
header {
    text-align: center;
}

.logo {
    width: 90px;
    height: auto;
}

/*GRID DEL HOME*/
.grid-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 30px auto;
}

.grid-home section {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*h3*/
h3 {
    text-align: center;
    padding: 100px;
}


/*IMÁGENES*/
img {
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: auto;
    border-radius: 12px;
}

img.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

/*FOOTER*/
footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
}

footer a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 500;
}

footer a:hover {
    color: #c00;
}

/*IMAGENES REDES SOCIALES */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.social img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.1);
}

/*Adaptación a telefono y tablet*/
@media (max-width: 600px) {
    nav ul {
        gap: 8px;
    }
}

@media (min-width: 768px) {
    footer ul {
        flex-direction: row;
        /* DESKTOP */
        justify-content: center;
        gap: 20px;
    }
}